<header class="app-header navbar">
    <a class="navbar-brand" href="#"></a>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/']" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item px-3 dropdown" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
                <span class="hidden-md-down">Sample Page</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">

                <div class="dropdown-header text-center"><strong>Sample Pages</strong></div>
                <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/sample-page/1']"><i class="fa fa-star-o"></i> Page1</a>
                <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/sample-page/2']"><i class="fa fa-star-o"></i> Page2</a>
                <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/sample-page/sse-example']"><i class="fa fa-server"></i> Server Send Event</a>
            </div>
        </li>
    </ul>



    <ul class="nav navbar-nav ml-auto mr-4" *ngIf="this._userService.isLoggedIn() == false">
        <li class="nav-item px-3 d-md-down-none">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item px-3 d-md-down-none">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/signup']">Register</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto mr-4" *ngIf="this._userService.isLoggedIn() == true">
        <li class="nav-item px-3 d-md-down-none">
            <span>{{userData.username}} ({{userData.roleLabel}})</span>
        </li>
        <li class="nav-item px-3 d-md-down-none">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/account']">Account</a>
        </li>
        <li class="nav-item px-3 d-md-down-none">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/logout']">Logout</a>
        </li>
    </ul>

</header>


<div class="app-body">
    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <!--<ol class="breadcrumb">-->
            <!--<app-breadcrumbs></app-breadcrumbs>-->
        <!--</ol>-->

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>
</div>

<footer class="app-footer">
    <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>. Customized by CK Design &amp; Development.</span>
</footer>