<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Button 1</button>
      <button class="btn btn-sm btn-outline-secondary">Button 2</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Button 3
    </button>
  </div>
</div>

<div class="justify-content-between flex-wrap flex-md-nowrap text-center pt-3 pb-2 mb-3 border-bottom">
  <div class="col-sm-12">
    <img src="assets/img/ngx-bootstrap-logo.svg" width="150px" />
  </div>
  <div class="clearfix"></div>
  <br />
  <h1>Starter template</h1>
  <br />
  <p class="lead">
    Use this document as a way to quickly start any new project. <br />
    All you get is this text and a mostly barebones HTML document.
  </p>
</div>
