<h1>
  Account Page
</h1>
<br />

<div class="row" *ngIf="errorMessage">
  <div class="col-12">
    <p class="alert alert-danger">{{ errorMessage }}</p>
  </div>
</div>
<div *ngIf="mode === '' && errorMessage === ''">
  <app-spinner></app-spinner>
</div>
<div *ngIf="mode === 'view'">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="view">
            <strong>Your information</strong>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group-wrapper">
            <div class="form-group row">
              <label class="col-12">Username</label>
              <div class="col-3">
                <span class="help-text">{{ user.username }}</span>
              </div>
            </div>
          </div>

          <div class="form-group-wrapper">
            <div class="form-group row">
              <label class="col-12">Email</label>
              <div class="col-3">
                <span class="help-text">{{ user.email }}</span>
              </div>
            </div>
          </div>

          <div class="form-group-wrapper">
            <div class="form-group row">
              <label class="col-12">Last Login</label>
              <div class="col-3">
                <span class="help-text"
                  >{{ user.last_login_at | amFromUnix | amDateFormat: 'YYYY-MM-DD HH:mm' }} ({{ user.last_login_ip }})
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col-6">
              <a [routerLink]="['/account', 'edit']" class="btn btn-primary">
                <i class="fa fa-edit"></i> Update information</a
              >
            </div>
            <div *ngIf="errorMessage" class="col-xs-12 error-block mt-2">
              <div class="alert alert-danger">{{ errorMessage }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
