/* You can add any custom style. */

a:hover {
  text-decoration: none;
}

.help-text {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.help-block {
  font-size: 0.8rem;
}

.help-block.help-block-error {
  font-size: 0.8rem;
  color: #ff0000;
}
