<header class="app-header navbar">
    <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">Dashboard</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/staff']">Staffs</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/user']">Users</a>
        </li>
        <li class="nav-item px-3">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['/setting']">Settings</a>
        </li>
    </ul>
    <ul class="nav navbar-nav ml-auto">

        <li class="nav-item dropdown" dropdown (onToggle)="toggled($event)">
            <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
                <span class="d-md-down-none">{{userData.username}} ({{userData.roleLabel}})</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
                <a class="dropdown-item" routerLinkActive="active" [routerLink]="['/logout']"><i class="fa fa-lock"></i> Logout</a>
            </div>
        </li>
    </ul>
</header>


<div class="app-body">
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']"><i class="icon-speedometer"></i> Dashboard </a>
                </li>
                <li class="divider"></li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/staff']"><i class="icon-user-following"></i> Staffs </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/user']"><i class="icon-people"></i> Users </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/setting']"><i class="icon-settings"></i> Settings</a>
                </li>
                <li class="divider"></li>

                <li class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="['/logout']"><i class="icon-lock"></i> Logout</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Main content -->
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <app-breadcrumbs></app-breadcrumbs>
        </ol>

        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <!-- /.conainer-fluid -->
    </main>

</div>

<footer class="app-footer">
    <a href="http://coreui.io">CoreUI</a> &copy; 2017 creativeLabs.
    <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a>. Customized by CK Design &amp; Development.</span>
</footer>