<div class="row justify-content-center mb-3">
  <div class="col-12 text-sm-center">
    <img src="assets/img/ngx-bootstrap-logo.svg" width="50" />
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-8">
    <div class="card-group mb-0" *ngIf="isTokenVerified == false && errorMessage != ''">
      <div class="card p-4">
        <div class="card-body">
          <h1>Error occurred</h1>
          <br />
          <p class="text-muted" style="white-space: pre;">{{ errorMessage }}</p>
          <div class="row">
            <div class="col-6">
              <a [routerLink]="['/login']" class="btn btn-link px-0">Back to Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-group mb-0" *ngIf="isTokenVerified == false && submitted == true">
      <div class="card p-4">
        <div class="card-body">
          <h1>Checking password reset token</h1>
          <br />
          <app-spinner></app-spinner>
        </div>
      </div>
    </div>
    <div class="card-group mb-0" *ngIf="isTokenVerified == true && showConfirmation == false">
      <div class="card p-4">
        <div class="card-body">
          <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit(passwordResetForm.value)">
            <h1>Reset Your Password</h1>
            <p class="text-muted">Please fill out the following fields to reset your password</p>

            <div class="form-group row" [ngClass]="{ 'has-danger': !isValid('password') }">
              <div class="col-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="icon-lock"></i>
                  </span>
                  <input
                    class="form-control"
                    type="password"
                    placeholder="Password"
                    [formControl]="passwordResetForm.controls['password']"
                    [ngClass]="{ 'form-control-danger': !isValid('password') }"
                  />
                </div>
                <span class="help-block help-block-error" *ngIf="!formErrors.password.valid">{{
                  formErrors.password.message
                }}</span>
              </div>
            </div>
            <div class="form-group row" [ngClass]="{ 'has-danger': !isValid('password_confirm') }">
              <div class="col-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="icon-lock"></i>
                  </span>
                  <input
                    class="form-control"
                    type="password"
                    placeholder="Repeat Password"
                    [formControl]="passwordResetForm.controls['password_confirm']"
                    [ngClass]="{ 'form-control-danger': !isValid('password_confirm') }"
                  />
                </div>
                <span class="help-block help-block-error" *ngIf="!formErrors.password_confirm.valid">{{
                  formErrors.password_confirm.message
                }}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <button
                  type="submit"
                  class="btn btn-success btn-block px-2"
                  [disabled]="!passwordResetForm.valid || submitted == true"
                >
                  Update
                  <app-spinner *ngIf="submitted"></app-spinner>
                </button>
              </div>
              <div class="col-6 text-right">
                <a [routerLink]="['/login']" class="btn btn-link px-0">Back to Login</a>
              </div>
              <div *ngIf="errorMessage" class="col-12 error-block mt-2">
                <div class="alert alert-danger">{{ errorMessage }}</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-group mb-0" *ngIf="isTokenVerified == true && showConfirmation == true">
      <div class="card p-4">
        <div class="card-body">
          <h1>Password Updated</h1>
          <br />
          <p class="text-muted">
            Your account password has been updated. Please login now.
          </p>
          <div class="row">
            <div class="col-6">
              <a [routerLink]="['/login']" class="btn btn-link px-0">Back to Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
