<div class="container d-table">
    <div class="d-100vh-va-middle">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="card-group" *ngIf="_isTokenVerified == false && _errorMessage != ''">
                    <div class="card p-2">
                        <div class="card-block">
                            <h1>Error occurred</h1>
                            <br />
                            <p class="text-muted" style="white-space: pre;">{{_errorMessage}}</p>
                            <div class="row">
                                <div class="col-xs-6">
                                    <a [routerLink]="['/login']" class="btn btn-link px-0">Back to Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-group" *ngIf="_isTokenVerified == false && _submitted == true">
                    <div class="card p-2">
                        <div class="card-block">
                            <h1>Checking password reset token</h1>
                            <br />
                            <p class="text-muted">
                                <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                            </p>
                        </div>
                    </div>
                </div>

                <div class="card-group" *ngIf="_isTokenVerified == true && _showConfirmation == false">
                    <div class="card p-2">
                        <div class="card-block">
                            <form [formGroup]="_passwordResetForm" (ngSubmit)="onSubmit(_passwordResetForm.value)">
                                <h1>Reset Your Password</h1>
                                <p class="text-muted">Please fill out the following fields to reset your password</p>

                                
                                <div class="form-group row" [ngClass]="{'has-danger': !_isValid('password')}">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                                            <input class="form-control" type="password" placeholder="Password" [formControl]="_passwordResetForm.controls['password']" [ngClass]="{'form-control-danger': !_isValid('password')}">
                                        </div>
                                        <span class="help-block help-block-error" *ngIf="!_formErrors.password.valid">{{_formErrors.password.message}}</span>
                                    </div>
                                </div>
                                <div class="form-group row" [ngClass]="{'has-danger': !_isValid('password_confirm')}">
                                    <div class="col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="icon-lock"></i></span>
                                            <input class="form-control" type="password" placeholder="Repeat Password" [formControl]="_passwordResetForm.controls['password_confirm']" [ngClass]="{'form-control-danger': !_isValid('password_confirm')}">
                                        </div>
                                        <span class="help-block help-block-error" *ngIf="!_formErrors.password_confirm.valid">{{_formErrors.password_confirm.message}}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-6">
                                        <button type="submit" class="btn btn-success btn-block px-2" [disabled]="!_passwordResetForm.valid || _submitted == true">Update</button>
                                    </div>
                                    <div class="col-xs-6 text-xs-right">
                                        <a [routerLink]="['/login']" class="btn btn-link px-0">Back to Login</a>
                                    </div>
                                    <div class="col-xs-12" *ngIf="_submitted" >
                                        <img src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                                    </div>
                                    <div *ngIf="_errorMessage" class="col-xs-12 error-block mt-h">
                                        <div class="alert alert-danger">{{_errorMessage}}</div>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-group" *ngIf="_isTokenVerified == true && _showConfirmation == true">
                    <div class="card p-2">
                        <div class="card-block">
                            <h1>Password Updated</h1>
                            <br />
                            <p class="text-muted">
                                Your account password has been updated. Please login now.
                            </p>
                            <div class="row">
                                <div class="col-xs-6">
                                    <a [routerLink]="['/login']" class="btn btn-link px-0">Back to Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
