<div class="datetimepicker">
    <div class="datetimepicker-modal" (click)="setState(false)" *ngIf="state && config.modal"></div>
    <div (click)="setState(false)" class="datetimepicker-close" [style.color]="config.color" *ngIf="state && config.modal">
        &#10006;</div>
    <input type="hidden" ([ngModel])="dateTime"/>
    <button class="datetimepicker-toggle" type="button" (click)="toggleState()"><i class="fa fa-calendar-check-o"></i></button>
    <div class="datetimepicker-display" (click)="toggleState()">
        <span *ngIf="displayText != ''" class="datetimepicker-display-text">{{displayText}}</span>
        <span *ngIf="displayText == ''" class="datetimepicker-display-placeholder">{{placeholderText}}</span>

    </div>
    <div *ngIf="state" class="datetimepicker-content" [ngClass]="{
        'datetimepicker-absolute': config.modal
    }">
        <div class="datetimepicker-tabs">
            <div class="datetimepicker-tab datetimepicker-tab-date" [ngClass]="{
                'active': tab == 'date'
            }" (click)="setTab('date')"><span>Date</span></div>
            <div class="datetimepicker-tab datetimepicker-tab-time" [ngClass]="{
                'active': tab == 'time'
            }" (click)="setTab('time')"><span>Time</span></div>
        </div><div class="clearfix"></div>
        <div class="datetimepicker-preview" *ngIf="tab=='date'">{{datePreview}}</div>
        <div class="datetimepicker-preview" *ngIf="tab=='time'">{{timePreview}}</div>
        <div class="datetimepicker-section datetimepicker-date-section" *ngIf="tab=='date'">
            <div class="datetimepicker-month">
                <div class="datetimepicker-action left" (click)="addMonth(-1)"><</div>
                <div class="datetimepicker-action right" (click)="addMonth(1)">></div>
                <div class="datetimepicker-current-month">{{displayMonth}} {{year}}</div>
            </div>
            <div class="datetimepicker-year">
                <div class="datetimepicker-action left" (click)="addYear(-1)"><</div>
                <div class="datetimepicker-action right" (click)="addYear(1)">></div>
                <div class="datetimepicker-current-year">{{displayYear}}</div>
            </div><div class="clearfix"></div>
            <div class="datetimepicker-calendar">
                <div class="datetimepicker-day" *ngFor="let day of dayNames">{{day | limitTo: 1}}</div>
                <div class="datetimepicker-day datetimepicker-leading-day" *ngFor="let d of days.leadingDays">{{d}}
                </div>
                <div class="datetimepicker-day datetimepicker-active-day" [ngClass]="{
                    'selected': day == d
                }" (click)="setDay(d)" *ngFor="let d of days.days">{{d}}
                </div>
                <div class="datetimepicker-day datetimepicker-trailing-day" *ngFor="let d of days.trailingDays">{{d}}
                </div>
            </div>
        </div>
        <div class="datetimepicker-section datetimepicker-date-time" *ngIf="tab=='time'">
            <div class="time-circle-outer">
                <div class="time-meridian time-left" (click)="setMeridian('AM')" [ngClass]="{
                    'selected': meridian == 'AM'
                }">AM</div>
                <div class="time-meridian time-right" (click)="setMeridian('PM')" [ngClass]="{
                    'selected': meridian == 'PM'
                }">PM</div>
                <div class="time-circle-center"></div>
                <div class="time-circle-hand time-circle-hand-large deg-{{minute/5}}"></div>
                <div class="time time-{{i+1}}" [ngClass]="{
                    'selected': minute == time
                }" (click)="setMinutes(time)" *ngFor="let time of minutes; let i = index">{{time}}</div>
                <div class="time-circle-inner">
                    <div class="time-circle-hand deg-{{hour}}"></div>
                    <div class="time time-{{i+1}}" [ngClass]="{
                        'selected': hour == time
                    }" (click)="setHour(time)" *ngFor="let time of hours; let i = index">{{time}}</div>
                </div>
            </div>
        </div>
        <div class="datetimepicker-section datetimepicker-buttons">
            <div class="datetimepicker-button-wrapper datetimepicker-button-wrapper-left">
                <button type="button" class="datetimepicker-button datetimepicker-button-clear" (click)="clickClear()">{{clearLabel}}</button>
            </div>
            <div class="datetimepicker-button-wrapper datetimepicker-button-wrapper-right">
                <button type="button" class="datetimepicker-button datetimepicker-button-confirm" (click)="clickConfirm()">{{confirmLabel}}</button>
            </div>

        </div>
    </div>
</div>