<div class="row justify-content-center mb-3">
  <div class="col-sm-12 text-sm-center">
    <img src="assets/img/ngx-bootstrap-logo.svg" width="50" />
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-8">
    <div class="card-group mb-0" *ngIf="showConfirmation == false">
      <div class="card p-4">
        <div class="card-body">
          <form [formGroup]="passwordResetRequestForm" (ngSubmit)="onSubmit(passwordResetRequestForm.value)">
            <h1>Request Reset Password</h1>
            <p class="text-muted">Please fill out the following fields to register</p>

            <div class="form-group row" [ngClass]="{ 'has-danger': !isValid('email') }">
              <div class="col-12">
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="icon-envelope-letter"></i>
                  </span>
                  <input
                    class="form-control"
                    type="email"
                    placeholder="Email Address"
                    [formControl]="passwordResetRequestForm.controls['email']"
                    [ngClass]="{ 'form-control-danger': !isValid('email') }"
                  />
                </div>
                <span class="help-block help-block-error" *ngIf="!formErrors.email.valid">{{
                  formErrors.email.message
                }}</span>
              </div>
            </div>

            <div class="row">
              <div class="col-6">
                <button
                  type="submit"
                  class="btn btn-success btn-block px-2"
                  [disabled]="!passwordResetRequestForm.valid || submitted == true"
                >
                  Request
                  <app-spinner *ngIf="submitted"></app-spinner>
                </button>
              </div>
              <div class="col-6 text-right">
                <a [routerLink]="['/login']" class="btn btn-link px-0">Back to Login</a>
              </div>
              <div *ngIf="errorMessage" class="col-12 error-block mt-2">
                <div class="alert alert-danger">{{ errorMessage }}</div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-group mb-0" *ngIf="showConfirmation == true">
      <div class="card p-4">
        <div class="card-body">
          <h1>Check Your Email</h1>
          <br />
          <p class="text-muted">
            We sent password reset instructions to {{ passwordResetRequestForm.controls['email'].value }}.
            <br />
            <br />
            Remember to check your spam or junk folder if you don't see it.
          </p>
          <div class="row">
            <div class="col-6">
              <a [routerLink]="['/login']" class="btn btn-link px-0">Back to Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
