<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2" *ngIf="mode == 'create'">Create new setting</h1>
  <h1 class="h2" *ngIf="mode == 'update'">Update setting - {{ setting.meta_name }}</h1>
</div>

<div class="row" *ngIf="errorMessage">
  <div class="col-sm-12">
    <p class="alert alert-danger">{{ errorMessage }}</p>
  </div>
</div>

<div *ngIf="!mode && !errorMessage">
  <app-spinner></app-spinner>
</div>

<div *ngIf="mode">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="card">
          <div class="card-body">
            <div class="form-group-wrapper">
              <div class="form-group row" [ngClass]="{ 'has-danger': !isValid('meta_key') }">
                <label class="col-sm-12" for="meta_key">Key <span class="required">*</span></label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    id="meta_key"
                    placeholder="Enter setting meta key (string)"
                    formControlName="meta_key"
                    [ngClass]="{ 'form-control-danger': !isValid('meta_key') }"
                  />
                  <small class="form-text text-muted"
                    >* Meta Key is the identifier of the setting. It requires to be only string, no space or special
                    characters except _ (underscore). Maximum length 100 characters.
                  </small>
                </div>
                <div class="col-sm-12" *ngIf="!formErrors.meta_key.valid">
                  <span class="help-block help-block-error">{{ formErrors.meta_key.message }}</span>
                </div>
              </div>
            </div>
            <div class="form-group-wrapper">
              <div class="form-group row" [ngClass]="{ 'has-danger': !isValid('meta_name') }">
                <label class="col-sm-12" for="meta_name">Name <span class="required">*</span></label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    id="meta_name"
                    placeholder="Enter setting meta name (string)"
                    formControlName="meta_name"
                    [ngClass]="{ 'form-control-danger': !isValid('meta_name') }"
                  />
                  <small class="form-text text-muted"
                    >* Meta Name is the name of the setting. Maximum length 200 characters.
                  </small>
                </div>
                <div class="col-sm-12" *ngIf="!formErrors.meta_name.valid">
                  <span class="help-block help-block-error">{{ formErrors.meta_name.message }}</span>
                </div>
              </div>
            </div>
            <div class="form-group-wrapper">
              <div class="form-group row" [ngClass]="{ 'has-danger': !isValid('meta_type') }">
                <label class="col-sm-12" for="meta_type">Type <span class="required">*</span></label>
                <div class="col-sm-8">
                  <select
                    class="form-control"
                    id="meta_type"
                    formControlName="meta_type"
                    [ngClass]="{ 'form-control-danger': !isValid('meta_type') }"
                  >
                    <option *ngFor="let metaType of metaTypes" [value]="metaType.value" [selected]=""
                      >{{ metaType.label }}
                    </option>
                  </select>

                  <small class="form-text text-muted"
                    >* Meta Type is the type of the setting. Select - the meta attribute needs to be configured as JSON
                    format to provide selection of setting value. Number - the meta value will be validated as numeric
                    format. Text - the meta value will be accepted any value.
                  </small>
                </div>
                <div class="col-sm-12" *ngIf="!formErrors.meta_type.valid">
                  <span class="help-block help-block-error">{{ formErrors.meta_type.message }}</span>
                </div>
              </div>
            </div>
            <div class="form-group-wrapper">
              <div class="form-group row" [ngClass]="{ 'has-danger': !isValid('meta_desc') }">
                <label class="col-sm-12" for="meta_desc">Description <span class="required">*</span></label>
                <div class="col-sm-8">
                  <textarea
                    class="form-control"
                    id="meta_desc"
                    placeholder="Enter setting description (text)"
                    formControlName="meta_desc"
                    [ngClass]="{ 'form-control-danger': !isValid('meta_desc') }"
                  ></textarea>
                  <small class="form-text text-muted"
                    >* Description is to describe what the setting is about. Maximum length 1000 characters.
                  </small>
                </div>
                <div class="col-sm-12" *ngIf="!formErrors.meta_desc.valid">
                  <span class="help-block help-block-error">{{ formErrors.meta_desc.message }}</span>
                </div>
              </div>
            </div>
            <div class="form-group-wrapper">
              <div
                class="form-group row"
                *ngIf="selectedMetaType == 'select'"
                [ngClass]="{ 'has-danger': !isValid('meta_attribute') }"
              >
                <label class="col-sm-12" for="meta_attribute">Attribute <span class="required">*</span></label>
                <div class="col-sm-8">
                  <textarea
                    class="form-control"
                    id="meta_attribute"
                    placeholder="Enter setting attribute (JSON)"
                    formControlName="meta_attribute"
                    [ngClass]="{ 'form-control-danger': !isValid('meta_attribute') }"
                  ></textarea>
                  <small class="form-text text-muted"
                    >* Attribute is JSON format that list up selection values for 'Select' type. Recommend to use
                    http://www.jsoneditoronline.org/ for modifying JSON. Sample JSON:
                    {{
                      '{"list":[{"value":"SAMPLE VALUE1","label":"SAMPLE LABEL 1"},{"value":"SAMPLE
                                        VALUE2","label":"SAMPLE LABEL 2"}]}'
                    }}
                  </small>
                </div>
                <div class="col-sm-12" *ngIf="!formErrors.meta_attribute.valid">
                  <span class="help-block help-block-error">{{ formErrors.meta_attribute.message }}</span>
                </div>
              </div>
            </div>
            <div class="form-group-wrapper">
              <div
                class="form-group row"
                *ngIf="selectedMetaType == 'select'"
                [ngClass]="{ 'has-danger': !isValid('meta_value') }"
              >
                <label class="col-sm-12" for="meta_value_select">Value <span class="required">*</span></label>
                <div class="col-sm-8">
                  <select
                    id="meta_value_select"
                    class="form-control"
                    formControlName="meta_value"
                    [ngClass]="{ 'form-control-danger': !isValid('meta_value') }"
                  >
                    <option *ngFor="let listValue of enteredMetaAttributes.list" [value]="listValue.value" [selected]=""
                      >{{ listValue.label }}
                    </option>
                  </select>
                </div>
                <div class="col-sm-12" *ngIf="!formErrors.meta_value.valid">
                  <span class="help-block help-block-error">{{ formErrors.meta_value.message }}</span>
                </div>
              </div>

              <div
                class="form-group row"
                *ngIf="selectedMetaType == 'number'"
                [ngClass]="{ 'has-danger': !isValid('meta_value') }"
              >
                <label class="col-sm-12" for="meta_value_number">Value <span class="required">*</span></label>
                <div class="col-sm-8">
                  <input
                    type="number"
                    class="form-control"
                    id="meta_value_number"
                    placeholder="Enter setting value (number)"
                    formControlName="meta_value"
                    [ngClass]="{ 'form-control-danger': !isValid('meta_value') }"
                    [max]="setting.meta_attribute.max"
                    [min]="setting.meta_attribute.min"
                  />
                </div>
                <div class="col-sm-12" *ngIf="!formErrors.meta_value.valid">
                  <span class="help-block help-block-error">{{ formErrors.meta_value.message }}</span>
                </div>
              </div>

              <div
                class="form-group row"
                *ngIf="selectedMetaType == 'text'"
                [ngClass]="{ 'has-danger': !isValid('meta_value') }"
              >
                <label class="col-sm-12" for="meta_value_string">Value <span class="required">*</span></label>
                <div class="col-sm-8">
                  <input
                    type="text"
                    class="form-control"
                    id="meta_value_string"
                    placeholder="Enter setting value (text)"
                    formControlName="meta_value"
                    [ngClass]="{ 'form-control-danger': !isValid('meta_value') }"
                  />
                </div>
                <div class="col-sm-12" *ngIf="!formErrors.meta_value.valid">
                  <span class="help-block help-block-error">{{ formErrors.meta_value.message }}</span>
                </div>
              </div>
            </div>
            <div class="form-group-wrapper">
              <div class="form-group row" [ngClass]="{ 'has-danger': !isValid('is_public') }">
                <label class="col-sm-12" for="is_public">Is Public? <span class="required">*</span></label>
                <div class="col-sm-8">
                  <select
                    class="form-control"
                    id="is_public"
                    formControlName="is_public"
                    [ngClass]="{ 'form-control-danger': !isValid('is_public') }"
                  >
                    <option *ngFor="let isPublicType of isPublicTypes" [value]="isPublicType.value" [selected]=""
                      >{{ isPublicType.label }}
                    </option>
                  </select>

                  <small class="form-text text-muted"
                    >* Is Public field is a configuration whether the setting is public or not public.
                  </small>
                </div>
                <div class="col-sm-12" *ngIf="!formErrors.is_public.valid">
                  <span class="help-block help-block-error">{{ formErrors.is_public.message }}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer">
            <div class="row">
              <!-- <div class="col-sm-12">
                <p>Form value: {{ form.value | json }}</p>
                <p>Form status: {{ form.status | json }}</p>
              </div> -->
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary" [disabled]="!form.valid || submitted == true">
                  <i class="fa fa-dot-circle-o"></i>
                  Save
                  <app-spinner *ngIf="submitted"></app-spinner>
                </button>
              </div>
              <div class="col-sm-6 text-right">
                <a [routerLink]="['/setting', 'global']" class="btn btn-warning"
                  ><i class="fa fa-arrow-left"></i> Back to list</a
                >
              </div>
              <div *ngIf="errorMessage" class="col-xs-12 error-block mt-h">
                <div class="alert alert-danger">{{ errorMessage }}</div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
